@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@200..800&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: #ededed;
}

.image_accueil {
    display: flex;
    position: relative;
    width: 100%;
    /* max-width: 1440px; */
    height: 100%;
    max-height: 960px;
}

.logo {
    position: absolute;
    z-index: 4;

    width: 207px;
    height: 25.26px;
    margin-top: 51px;
    margin-left: 69px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 40%;
    left: 25%;
    width: 700px;
}

.title h1 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFD15B;
    font-size: 44px;
}

.fa-solid {
    position: absolute;
    right: 1%;
    padding: 10px;
    border-radius: 5px;
    background-color: #1b1b1b;
    font-size: 30px;
    color: white;
}

#search_bloc {
    display: flex;
    position: absolute;
    align-items: center;
    bottom: 30%;
    left: 16%;
}

#search_bar {
    border-radius: 10px;
    height: 72px;
    width: 954px;
}

input {
    font-size: 16px;
}

.middle_page {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 4%;
}

.menu_burger {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.menu_card--ing, .menu_card--app, .menu_card--uss, #ingredients-list, #appareils-list, #ustensils-list {
    font-family: "Manrope";
    font-weight: 300;
    font-style: normal;   
    font-size: 14px;
}

.menu_card--ing, .menu_card--app, .menu_card--uss {
   margin-left: -40px;
}


#ingredients-list, #appareils-list, #ustensils-list {
   
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #ededed white;
    max-height: 200px;

    width: 179px;
    background-color: white;
    padding: 10px 16px;    
    font-size: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.all_menu {
    display: flex;
    gap: 63px;
    margin-left: 0;
}

.menu_card__top {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 179px;
    height: 40px;
    border: none;
    background-color: white;
    padding: 10px 16px;
    border-radius: 10px;
    font-size: 15px;
}

.menu_card--ing .menu_hidden--ing {
    display: none;
}
.menu_card--ing:hover .menu_card__top {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.menu_card--ing:hover .menu_hidden--ing {
    display: initial;
}
.menu_card--ing:hover .fa-chevron-up {
    transform: rotate(180deg);
}

.menu_card--app .menu_hidden--app {
    display: none;
}
.menu_card--app:hover .menu_card__top {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.menu_card--app:hover .menu_hidden--app {
    display: initial;
}
.menu_card--app:hover .fa-chevron-up {
    transform: rotate(180deg);
}

.menu_card--uss .menu_hidden--uss {
    display: none;
}
.menu_card--uss:hover .menu_card__top {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.menu_card--uss:hover .menu_hidden--uss {
    display: initial;
}
.menu_card--uss:hover .fa-chevron-up {
    transform: rotate(180deg);
}

.menu-hidden__searchbar {
    display: flex;
    align-items: center;
    padding: 10px 16px;     
    background-color: white;   
}

.menu-hidden__searchbar input[type="search"] {
    padding-right: 30px;
    margin-right: -25px;    
    width: 180px;
    height: 35px;
}

li {
    list-style: none;
}

/* ________________________________________________  Tag */

.allBlocsTags {
    display: flex;
    gap: 30px;
}

.blocTag_menu {
    display: block;
    background-color: #FFD15B;
    border-radius: 10px;
    width: 200px;
    height: 50px;
}

.liTag_menu {
    display: flex;
    padding-left: 25px;
    align-items: center;
    font-size: 15px;

    font-family: "Manrope";
    font-weight: 300;
    font-style: normal;   
    font-size: 14px;
}

.liTag_menu:hover {
    cursor: pointer;
    background-color: #FFD15B;
}

.btnClose {
    display: flex;
    position: relative;
    bottom: 38.5px;
    left: 85%;
    border: none;
    background-color: transparent;
    font-size: 20px;
}

 /* _______________________________________________  Cards */

.all_cards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.card {
    display: flex;
    position: relative;
    margin-top: 40px;
    width: 360px;
    height: 731px;
    border-radius: 20px;
    background-color: white;
}

.card img {
    width: 360px;
    height: 253px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
}

.time_recipe {
    display: flex;
    position: absolute;
    top: 3%;
    left: 75%;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    background-color: #ffd15b;
    width: 70px;
    height: 30px;
}

.time_recipe p {
    display: flex;
    justify-content: center;
}

.card_content {
    margin: 25px;
}

h2, .totalNumberRecipe {
    font-size: 18px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-size: 12px;
    color: grey;
}

.all_ingredients {
    display: grid;
    grid-template-columns: 160px 160px;
    grid-template-rows: 60px 60px 60px;
    /* flex-wrap: wrap;
    justify-content: space-between; */
}

.p_description {   
    max-height: 76px;
    overflow: hidden;    
    text-overflow: ellipsis;  
    
    font-family: "Manrope";
    font-weight: 300;
    font-style: normal;   
    font-size: 14px;
}

.element_list, .quantity_unit {
    list-style: none;
}

.quantity_unit {
    color: grey;
}


